<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="padding: 20px">
  <div class="container panel panel-default">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <h2 style="text-align:center"><strong>Web Crawler</strong></h2>
        <form action="/results" method="POST">
          <input class="form-control" type="url" name="url" placeholder="Enter the URL to extract" required pattern="https?://.+"></input><br>
          <input class="form-control" type="number" size="1" min="1" max="3" step="1" name="depth" placeholder="Depth to extract" required></input><br>
          <input class="btn btn-primary" type="submit" style="float:right" value="Extract"></input>
        </form>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-danger">
          <div class="panel-body">
            <p><strong><h4>Note:</h4></strong></p>
            <p><strong>As of now Crawler is restricted for the 3 depths</strong></p>
            <br>
            <p><strong>If Depth is 1</strong>: Crawls the seed URL and fetches the URLs related to the Seed URL</p>
            <p><strong>If Depth is 2</strong>: Crawls the seed URL and fetches all the images present in the Seed URL</p>
            <p><strong>If Depth is 3</strong>: Crawls the seed URL, gets all the links present in the seed URL and fetches all the images present in each of the URL it crawled</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>